header.header {
    padding: 0.3em 1em;
    background-color: rgba(15,15,15,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgba(0,0,0,0.1);
}

.header--fixed {
    position: fixed;
    width: 100%;
}

header.header h1 {
    flex-basis: 35%;
    color: white;
}

header.header .accessories {
    font-size: 1.2em;
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header.header .accessories > * {
    margin: 0 10px;
    text-transform: capitalize;
}

header.header .playingStatus {
    text-align: right;
    display: none;
}

header.header .playingStatus--year {
    font-weight: 600;
}

/* Last Played */
.lastPlayed--container {
    flex-basis: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #ddd;
}

.lastPlayed--container .lastPlayed--header {
    font-weight: 600;
}

.lastPlayed {
    font-size: 0.9em;
    text-align: center;
}

.recentlyPlayed {
    color: white;
}

.recentlyPlayed i:hover {
    color: #ddd;
    cursor: pointer;
}