.song__html.playing {
    background-color: rgba(15,200,15,0.25);
}

.song__html h3.song--title {
    flex: 0 0 30%;
}

.song__html p.song--artist {
    flex: 0 0 20%;
}

.song__html p.song--year {
    flex: 0 0 20%;
}

.song__html p.song--album {
    flex: 0 0 20%;
}