.songsContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 3.2em 0 6em 0;
}

.songsContainer.openFilter {
    padding-top: 6.7em;
}

.songsContainer .song__html {
    font-size: 0.775em;
    width: 100%;
    margin: 2px;
    text-transform: capitalize;
}

.songsContainer .song__html .song__html--inner {
    border: 0.2px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 6px;
    padding-left: 14px;
}

.songsContainer .song__html .song__html--inner * {
    margin-right: 1em;
}
.songsContainer .song__html .song__html--inner:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}